/* ----- Big tablets and Laptops ----- */
@media only screen and (max-width: 1200px) {
  .row { padding: 0 2% }

  .hero-text { 
    padding: 0 2%;
    width: 100%;
    }
}
/* ----- Small to Big tablets ----- */
@media only screen and (max-width: 1023px) {
  body {font-size: 18px}

  section { padding: 60px 0 }
  
  .feature-main {
  width: 80%;
  margin-left: 10%;
  }

  .steps-box:last-child {
    margin-top: 50px;
  }

  .works-steps {
    margin-bottom: 40px;
  }

  .app-screen {
    width: 50%;
  }
  
  .cities h3 {
    text-align: center;
  }

  .download-img img {
    height: 40px;
  }

  .plan-box {
    width: 100%;
    margin-left: 0;
  }

  .plan-box div p:first-of-type {
      font-size: 250%;
  }

  .plan-box div {
      padding: 10px;
  }

  .contact-form {
      width: 90%;
  }
}

@media only screen and (max-width: 767px) {

  body { font-size: 16px; }
  section { padding: 30px 0; }

  header nav { margin-bottom: 30px; }

  .row,
  .hero-text-box { padding: 0 4%; }

  .row .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }

  .works-steps div {
    height: 30px;
    width: 30px;
    font-size:120%;
    padding: 2px;
  }

  .works-steps {
    margin-bottom: 35px;
  }

  .works-steps p {
    padding: 5px;
  }

  .steps-box:first-child {
    text-align: center;
  }

  .app-screen {
    width: 30%;
  }

  .mobile-nav-menu {
    display: inline-block;
    margin: 30px;
  }

  .nav-options {
    display: none;
    float: left;
    margin-top: 35px;
    margin-left: 15px;
}

.nav-options li {
  display: block;
}

.nav-option:link,
.nav-option:visited {
  display: block;
  font-size: 100%;
  border: 0;
  padding: 10px 0;
}

.sticky .nav-option:link,
.sticky .nav-option:visited {
  padding: 10px 0;
}

.sticky .nav-options {
  margin-top: 10px;
}

.sticky ion-icon {
    color: #555;
  }

  .sticky .mobile-nav-menu {
    margin-top: 10px;
  }

}
/* ----- Small phones ----- */
@media only screen and (max-width: 480px) {
  .section { padding: 30px 0; }
  .contact-form {
      width: 100%;
  }
  .footer-nav {
    margin-bottom: 20px;
}
}
