/* ----- Big tablets and Laptops ----- */
@media only screen and (max-width: 1200px) {
  .row { padding: 0 2% }

  .hero-text { 
    padding: 0 2%;
    width: 100%;
    }
}
/* ----- Small to Big tablets ----- */
@media only screen and (max-width: 1023px) {
  body {font-size: 18px}

  .section { padding: 60px 0 }
  
  .feature-main {
  width: 80%;
  margin-left: 10%;
  }

  .steps-box:last-child {
    margin-top: 50px;
}

  .works-steps {
    margin-bottom: 40px;
  }

  .app-screen {
    width: 50%;
  }
  
  .cities h3 {
    text-align: center;
  }

  .download-img img {
    height: 40px;
}

/* -----  Small tablets ----- */
@media only screen and (max-width: 767px) {
  .feature-main {
  width: 90%;
  margin-left: 5%;
  }

  .download-img img {
    margin-right: 0;
  }

}
/* ----- Small phones ----- */
@media only screen and (max-width: 480px) {
}
